*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 24px;
    text-align: center;
}
.form-edit-products{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.form-edit-products div{
    display: flex;
}

.form-edit-products div input{
    width: 100%;
    height: 30px;
}
.form-edit-products div label ,select{
    height: 30px;
}
.title-form , .price-form,.discount-form,.category-form,.file-form{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
#title,#price ,#category, #avatar, #price,#file{
    border-radius: 15px;
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
    background: rgb(0, 0, 0); 
    padding: 5px;
    height: 45px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
#description{
    border-radius: 15px;
    width: 100%;
    background: rgb(0, 0, 0); 
    color: #fff;

}
.description-submit-products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.button-edit-submit{
    text-align: center;
}
.button-edit-submit button{
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 1px solid;
    font-size: 20px;
    padding: 2px;
    cursor: pointer;
}


@media (min-width: 769px) 
{
    .form-edit-products{
        flex-direction: row;
        justify-content: space-between;
    }
    .form-edit-products div{
        width: 45%;
    }
}
@media (min-width: 1024px) 
{
.form-edit-products div{
    justify-content: space-beetwen;
    width: 45%;
}
}

.error{
    color: red;
    font-size: 17px;
}

.boxImg{
    display: flex;
    flex-direction: column;
}

#file {
    width: 30rem;
}

#price{
    width: 8rem;
}