* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: #000;
    color: #ebebeb;
    
} 

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: #eee;
}


.top-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background: url("/img/products/fuegoHeader8.jpg") no-repeat;
    background-size: cover;
}

.contenedor-buscador-navbar{
    display: none;
}

.cuenta-registro{
    display: none;
}

.burger-menu {
    width: 60px;
    height: 50%;
}

.burger-menu i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #fff;
    background-color: inherit;
}

.cart {
    text-align: center;
    padding: 10px 0 ;
    font-size: 25px;
}

.menu  li a i{
    font-size: 30px;
}
.cart i {
    color: white;
}

.logo {
    max-width: 272px;
    margin-left: 20px;
}

.logo img {
    max-width: 100%;

}

.container-user-carrito {
    display: none;
}

.desplegable {
    display: none;
}

/* Finalizacion del Header*/


/*Section*/

/*Inicio del Main*/


.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
    height: 100%;
}    

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: carrucel 14s infinite alternate linear;  
}

@keyframes carrucel {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.container-title h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    background: linear-gradient(90deg, rgba(9,9,7,1) 0%,
    rgba(203,28,28,1) 51%, rgba(9,8,7,1) 100%);
}



.conteiner-especialidades{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos{
    width: 220px;
    border-radius: 20px;
    margin: 10px 20px 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blanchedalmond;
}


.productos img{
    
    width: 100%;  
    height: 200px;
    border-radius: 50%;
    
}

.productos .PrecioProduc{

    position: relative;
    text-align: center;
}

.productos .PrecioProduc p{
    max-width: 100%;
    font-size: 20px;
}

.productos h3{
    display: flex;
    justify-content: center; 
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.productos a {
    text-decoration: none;
}


.precio{
    color: rgb(16, 199, 16);
}

.ver-mas{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    
}

.ver-mas p {
    text-align: center;
    font-size: 30px;
    color: red;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
}

.ver-mas a{
    text-decoration: none;
}

/*INICIO SECION DE NOSOTROS */
.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 30px auto ;
}
.nosotros p{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;    
}
/*FIN DE SECCION DE NOSOTROS*/


/*FIN DEL MAIN*/


/*INICIO DEL FOOTER*/

.container-footer {
    background: url("/img/products/fuegoHeader.jpg") no-repeat;
    background-size: cover; 
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    width: 40%;
}

.logo-footer img {
    width: 100%;
    opacity: 0.8;
}

.container-footer p {
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.container-footer ul {
    list-style-type: none;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-footer li {
    margin: 10px;
}

.container-footer li a {
    text-decoration: none;
    font-size: 35px;
    color: white;
}

.container-footer li a:hover {
    color: rgb(202, 0, 0);
}


/* Termina el footer */

/* Empieza el dise単o responsivo 320px */

@media (min-width: 320px) {

    /* Hamburguesa*/
    
    .panel{
    display:block;
    position:fixed;
    z-index:998;
    background-color: rgba(55, 50, 50,0.85);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    transition:transform 0.3s ease;
    transform: translate(100%,0);
    }

    .panel.is-active{
        transform:translate(0,0);
    }


    .menu-burguer{
        padding:2rem ;
        width:inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .menu-burguer a{
        padding: 1rem ;
        width:88%;
        display:block;
        font-size:1.5rem;
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: all 0.3s ease;
    }
    .menu-burguer a:hover{
        font-weight: bold;
        color: rgb(255, 255, 255);
        background-color: rgb(255, 0, 0);
    }
    .panel-btn {
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .burger-menu {
        width: 60px;
        height: 100px;
        padding: 15px 0px;
    }

    .burger-menu i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        color: #fff;
    }

    .cart {
        text-align: center;
        padding-bottom: 15px;
        font-size: 25px;
        padding-top: 10px;

    }

    .cart i {
        color: white;
    }

    .logo {
        max-width: 300px;
        margin-left: 20px;
    }

    .logo img {
        max-width: 100%;
    }

    /* Finalizacion del Header*/

    /*Section*/

    /*Inicio del Main*/

    .slider {
        width: 100%;
        margin: auto;
    }

    .slider li {
        width: 100%;
        list-style: none;
    }

    .slider img {
        width: 100%;
        height: 100%;
    }

    .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation-name: carrucel;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in;

        /*Forma breve de escribir animation
            animation: carrucel 20s infinite alternate; */
    }

    @keyframes carrucel {
        0% {
            margin-left: 0;
        }

        20% {
            margin-left: 0;
        }

        25% {
            margin-left: -100%;
        }

        45% {
            margin-left: -100%;
        }

        50% {
            margin-left: -200%;
        }

        70% {
            margin-left: -200%;
        }

        75% {
            margin-left: -300%;
        }

        100% {
            margin-left: -300%;
        }
    }

    .container-title h2 {
        margin-top: 100px;
        text-align: center;
        font-size: 40px;
        background: rgb(9, 9, 7);
        background: linear-gradient(90deg, rgba(9, 9, 7, 1) 0%, rgba(203, 28, 28, 1) 51%, rgba(9, 8, 7, 1) 100%);
    }

    .conteiner-especialidades {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 30px 0px 10px;
        justify-content: space-around;
    }


    

    .productos img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 20px;
    }

    .productos .PrecioProduc {
        text-align: center;
    }

    .productos .PrecioProduc p {
        max-width: 100%;
        font-size: 20px;
    }

    .productos h3 {
        display: flex;
        justify-content: center;
        font-size: 25px;
        
        
    }


    /*INICIO SECION DE NOSOTROS */
    .nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: 30px auto;
    }

    .nosotros p {
        padding: 10px;
        margin-top: 10px;
        text-align: center;
        font-size: 24px;
        margin-bottom: 30px;
    }

    /*FIN DE SECCION DE NOSOTROS*/

    /*FIN DEL MAIN*/

    /*INICIO DEL FOOTER*/

    .container-footer {
        background: url("/img/products/fuegoHeader.jpg") no-repeat;
        background-size: cover;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-footer {
        width: 40%;
    }

    .logo-footer img {
        width: 100%;
        opacity: 0.8;
    }

    .container-footer p {
        padding: 10px;
        margin: 10px;
        text-align: center;
        font-size: 22px;
    }

    .container-footer ul {
        list-style-type: none;
        max-width: 350px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container-footer li {
        margin: 10px;
    }

    .container-footer li a {
        text-decoration: none;
    }

    .container-footer_list img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    /* Termina el footer */
}


/* Empieza el dise単o responsivo 769px */

@media (min-width: 769px) {

    
    .slider {
        width: 100%;
        margin: auto;
    }

    .slider li {
        width: 100%;
        list-style: none;
    }

    .slider img {
        width: 100%;
        height: 100%;
    }
    .cart{
        padding:5px;
        margin: 5px;
    }
}

/* Empieza el dise単o responsivo 1024px */
@media (min-width: 1024px) {
    .panel{
        display:none;
    }
    .productos{
        width: 20%;
    }
    .top-header {
        height: 150px;
    }
    .contenedor-buscador-navbar {
        display: block;

    }
    .menu > li{
        position: relative;
        display: inline-block;
    }
    .menu{
        position: absolute;
        right: 10px;
        top: 20px;
    }
    .menu > li > a{
        display: block;
        padding: 15px 20px;
        font-family: 'Open sans';
        text-decoration: none;
    }
    
    .menu li a:hover{
        background: #ffffff;
        color: #CE7D35;
        transition: all .3s;
    }
    
    /* Submenu*/
    
    .submenu{
        position: absolute;
        right: 5px;
        background: #000;
        max-width: 350%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1.5s;
        z-index: 1;
        border-radius: 10px 0 10px 10px;
        border: 2px solid #8a2724;
    }
    
    .name-user {
        font-size: 14px;
        position: absolute;
        right:70px;
        top: 20px;
    }

    .avatarImg{
        border-radius:90%;
        right: 40px;
        top: 14px;
        width: 45px; 
        height: 45px;
        object-fit: cover;
    }

    li{
        list-style: none;
    }

    .submenu li a{
        display: block;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0);
        padding:15px 20px;
        font-size:15px;
        font-family: 'Open sans';
        text-decoration: none;
        border-radius: 10px 0 10px 10px;
    }
    .submenu li:hover{
        color: #CE7D35;
        transition: all .3s;
        border-radius: 10px 0 10px 10px;
        border: 2px solid #8a2724;
    }
    
    .menu li:hover .submenu{
        visibility: visible;
        opacity: 1;
    }
    .burger-menu {
        display: none;
    }
    .hamburger{
        display: none; 
    }
    .navegacion ul{
        list-style: none;
    }
    
    .menu-nav > li{
        position: relative;
        display: inline-block;
    }
    
    .menu-nav > li > a{
        display: block;
        padding: 15px 20px;
        color: #fff;
        font-family: 'Open sans';
        text-decoration: none;
    }
    
    .menu-nav li a:hover{
        color: #CE7D35;
        transition: all .3s;
    }
    
    /* Submenu-menu*/
    
    .submenu-menu{
        position: absolute;
        background: #000;
        border: 2px solid #8a2724;
        width: 170%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1.5s;
        border-radius: 0 10px 10px 10px;
    }
    
    .submenu-menu li a{
        display: block;
        padding: 15px;
        color: #fff;
        font-family: 'Open sans';
        font-size: 12px;
        text-decoration: none;
    }
    .submenu-menu li:hover{
        color: #CE7D35;
        transition: all .3s;
        background:#fff;
        border-radius: 0 10px 10px 10px;
        border: 2px solid #8a2724;
    }
    
    .menu-nav li:hover .submenu-menu{
        visibility: visible;
        opacity: 1;
    }


    .cuenta-registro {
        display: block;
    }

    .cuenta-registro a i {
        color: white;
    }
    .menu  li a i{
        font-size: 30px;
    }
    .cuenta-registro a:hover i {
        color: rgb(202, 0, 0);
    }


    .container-burger-cart {
        width: 15%;
    }



    .cart i:hover {
        color: rgb(220, 0, 0);
    }
    .cart{
        position: absolute;
        right: 20px;
        z-index: 0;

    }
    .container-image-avatar{
        padding: 10px 10px 0 0;
        
        
    }
    .titulos-home {
        padding-bottom: 15px;
    }

    .titulos-home a {
        text-decoration: none;
        color: #ebebeb;
        margin: 0px 10px;
        font-size: 24px;
    }

    .titulos-home a:hover {
        color: rgb(202, 0, 0);
    }

    .buscador form {
        display: flex;
        align-content: center;
        justify-content: center;
        height: 40px;
    }

    .buscador {
        padding-top: 15px;
        text-align: center;
    }

    .buscador input {
        height: 28px;
        width: 50%;
        border-radius: 5px;
        border: none;
        transition: all 470ms;
    }

    .buscador input::placeholder {
        text-align: center;
    }

    .buscador input:hover,
    .buscador input:active {
        width: 70%;
        height: 33px;
    }

    .buscador button {
        height: 30px;
        width: 30px;
        border-radius: 5px;
        background-color: inherit;
        border: none;
        color: white;
        font-size: 20px;
    }

    .buscador button i {
        cursor: pointer;
    }


    .slider {
        width: 100%;
        margin: auto;
    }

    .slider li {
        width: 100%;
        list-style: none;
    }

    .slider img {
        width: 100%;
        height: 100%;
    }


    .ver-mas p {
        text-align: center;
        font-size: 30px;
        color: red;
        border-radius: 10px;
        background-color: black;
        text-decoration: none;
    }

    .ver-mas p:hover {
        box-shadow: 0 4px 0px 0 rgb(255 255 255 / 20%), 0 6px 0px 0 rgb(255 255 255 / 19%);
    }

    .productos .PrecioProduc p {
        max-width: 100%;
        font-size: 25px;
    }


    .logo-footer {
        text-align: center;
    }

    .logo-footer img {
        width: 300px;
        margin: auto;
    }


}

/* Empieza el dise単o responsivo 1280px */

@media (min-width: 1280px) {


    

    .slider img {
        width: 100%;
        height: 100%;
    }

    .cuenta-registro {
        font-size: 30px;
    }

    .cart {
        text-align: end;
    }


    .container-title h2 {

        font-size: 45px;
    }
}
